<tr>
<td>

<%= transaction.transaction_date %>
</td>
<td>
<%= transaction.payee.name %>
</td>
<td>
<%= transaction.category.name %>
</td>
<td>
<%= transaction.amount_in %>
</td>
<td>
<%= transaction.amount_out %>
</td>
<td></td>
<td></td>
</tr>
