<div>
<%= transaction.transaction_date %>
</div>
<div>
<%= transaction.payee.name %>
</div>
<div>
<%= transaction.category.name %>
</div>
<div>
<%= transaction.amount_in %>
</div>
<div>
<%= transaction.amount_out %>
</div>
