<!DOCTYPE html>
<html>
  <head>
    <title>ProjectPlutus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="grid-container">
      <%= render 'layouts/header' %>
      <%= render 'layouts/sidebar' %>
      <section id="content">
    <p class="notice" id="notice"><%= notice %></p>
    <p class="alert" id="alert"><%= alert %></p>
    <%= yield %>
    </section>
    <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
